body#app-layout
{
  font-family: $body-font-family;
  font-size: $body-font-size;
  font-weight: $body-font-weight;

  a:hover
  {
    color:$blue-primary;
  }

  #sidebar
  {
    width: 15%;
    a
    {
      i
      {
        top:5px;
      }
    }
  }

  .ui-btn-icon-left::after{
    left:0;
  }

  .panel-title{
    font-size: 24px;
    font-weight: bold;
  }
}

.glyphicon {
  font-size: 24px;
  left: 0;
  width: 12px;
}
/*
.glyphicon-triangle-right::before {
  content: "";
  font-size: 14px;
  top: -10px;
  position: relative;
}*/

.glyphicon-triangle-right::before {
  content: "";
  float: left;
  font-size: 14px;
  left: 0;
  position: relative;
}

/*.navbar-header {
  float: left;
  left: -10px;
  position: relative;
}*/

.navbar-header{
  float: left;
  width: 30%;
}

.navbar-collapse{
  float: right;
  width: 60%;
}

.sidebar-nav li.current a{
  border-left: 0;
}

#donut-chart1 {
  height: 200px;
  left: -167px;
  position: absolute;
}

.c-gray{
  font-size: 0.8em;
  margin-bottom: 16%;
}

.alert{
  font-size: 1em;
  margin-top: 0;
  width: 100%;
}

.navbar-collapse .header-menu{
  font-size: .75em;
  margin-top: 1.5%;
}

.sidebar-large #sidebar {
  width: 250px;
  left: -350px;
}

.header-menu.navbar-nav > li > a {
  height: 40px;
  padding: 4px 4px 8px 14px;
}

.carousel-control .glyphicon-chevron-right{
  margin: 0 auto;
}

.arrow-white {
  color: white;
  font-size: 13px;
  left: 96%;
  margin-top: 13px;
  position: absolute;
  visibility: hidden;
}

.current .arrow-white-visible{
  color: white;
  font-size: 13px;
  left: 96%;
  margin-top: 13px;
  position: absolute;
  visibility: visible;
}

/*#principal-arrow-white{
  color: white !important;
  font-size: 13px;
  left: 96%;
  margin-top: 13px;
  position: absolute !important;
  visibility: visible;
}*/

ul.sidebar-nav .active .submenu span{
  margin-left: 10%;
}

#main-content{
  background-color: #e0e0e0;
}

#main-content .container{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /*box-shadow: 0 4px 2px -2px #c8c8c8;*/
  margin-top: 4%;
  .title{
    background-color: $blue-primary;
    border-bottom: $border-bottom-title-grid;
    border-top-left-radius: $border-raduis;
    border-top-right-radius: $border-raduis;
    padding: 1em;
  }
  h1{
    color: #fff;
    font-size: 1.1428em;
    margin: 0;
    padding: 0;
  }
  label{
    color: #768082;
    font-size: 0.9342em;
    font-weight: normal;
  }
  legend{
    border: 0;

    color: $blue-primary;
    font-size: 18px/$body-font-size+em;
  }
  input:focus, select:focus{
    border-color: $blue-strong-focus;
  }

  input[type="radio"]{
    margin-left: 0;
    margin-top: -10px;
  }

  /*.radio{
    float: left;
    width: 50%;
  }*/

  .ui-radio{
    label{
      padding-left: 3%;
    }
  }

  .btn-submit-form{
    margin: 0 auto;
    width: 15%;
  }

  table{
    border: 0;
    box-shadow: 0 4px 2px -2px #e8e8e8;

    thead > tr > th{
      background-color: #a4aeb9;
      border: 0;
      color: #fff;
      font-weight: normal;
      font-size: 0.9285em;
      text-transform: capitalize;
    }

    td{
      border:0;
      color: #a4a9ae;
      font-size: 0.8571em;
    }
  }

  .title-section{
    border: 0;
    color: #2684c6;
    font-size: 1.2857em;
  }

  .search, .forms{
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 2px -2px #e8e8e8;
    margin-bottom: 1em;
    padding-bottom: .5em;
    padding-top: 30px;
    padding-left: 25px;
  }
  .search-av{
    margin-top: 13%;
    text-align: center;
  }
  #inpt_search{
    background: url(/images/iconos_menu/icons_busqueda_off.png) no-repeat scroll 5px center / 20px auto;
    padding-left:30px;
  }

  #fls-avz-search{
    margin-top: 2%;
    margin-bottom: 2%;
  }

}

.btn.btn-form {
  background: transparent none repeat scroll 0 0;
  border: 2px solid rgba(0, 121, 194, 1);
  border-radius: 21px;
  color: #0079c2;
  display: block;
  margin-top: 3px;
}

#b_avanzada_btn{
  cursor: pointer;
}

#table-container{
  max-height: 300px;
  overflow-y: scroll;
}

.table-fixed thead {
  width: 100%;
  .col1{
    width: 15%;
  }
  .col2{
    width: 70%;
  }
  .col3{
    width: 15%;
  }
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
  .col1{
    width: 15%;
  }
  .col2{
    width: 70%;
  }
  .col3{
    width: 15%;
  }
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

body#app-layout #sidebar{
  top: 0;
}

#main-content .container .ui-radio label{
  padding-left: 35px;
}

#fld-section ul{
  margin-left: 40px;
}


.arrow-down{
-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
-ms-transform : rotate(90deg);
transform : rotate(90deg);
}





