.sidebar-large #wrapper {
  margin: 0 auto;
  min-height: $layout-min-height;
  padding-left: 0;
  position: relative;
  width: 100%;
}



#main-content {
  background-color: $color-main-content;
  margin: 0 auto;
  min-height: $layout-min-height;
  padding: 10px 0;
  position: relative;
  top: 5%;

  #login-block{
    margin-top: 3%;
    padding: 0;
  }
}

.input-fill{
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
input:-webkit-autofill:focus{
  @extend .input-fill
}
input:-webkit-autofill {
  @extend .input-fill
}

#main-content
{
  .login-box
  {
    -webkit-filter: drop-shadow(0px 2px 0px #e3e4e8);
    width: 326px;
    margin: 0 auto;
    top: 20px;
    label
    {
      color: $grey-text;
      font-weight: $body-font-weight;
      font-size: $body-font-size;
    }

    .login-form {
      input {
        color: $blue-primary;
        font-size: 12px/$body-font-size+em;
      }
      label{
        font-size: 13px/$body-font-size+em;
      }
      a{
        font-size: 13px/$body-font-size+em;
      }
      #submit-form{
        font-size: 14px/$body-font-size+em;
        &:hover
        {
          color:$white;
          background-color: $blue-primary;
        }
      }
      .ui-checkbox
      {
        width: 78%;
        input
        {
          display: none;
        }
        label{
          font-size: 11px/$body-font-size+em;
          width: 55%;
        }
        label:hover{
          color: $blue-primary;
        }
      }
      .forgot{
        top: -11px;
        a{
          font-size:11px/$body-font-size+em;
        }
      }
    }
  }
}
