@charset "UTF-8";
/**
 * @company: Logoscorp <logoscorp.com>
 * @author: Logoscorp Dev Team <desarrollo@logoscorp.com>
 * @date: 30/05/16
 */
/*
** Colors
*/
/*
** Fonts Sizes
*/
/*
** Fonts Weights
*/
/*
** Fonts Family
*/
/*
** Layout
*/
/*
** Borders
*/
body#app-layout {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 300; }
  body#app-layout a:hover {
    color: #0079c2; }
  body#app-layout #sidebar {
    width: 15%; }
    body#app-layout #sidebar a i {
      top: 5px; }
  body#app-layout .ui-btn-icon-left::after {
    left: 0; }
  body#app-layout .panel-title {
    font-size: 24px;
    font-weight: bold; }

.glyphicon {
  font-size: 24px;
  left: 0;
  width: 12px; }

/*
.glyphicon-triangle-right::before {
  content: "";
  font-size: 14px;
  top: -10px;
  position: relative;
}*/
.glyphicon-triangle-right::before {
  content: "";
  float: left;
  font-size: 14px;
  left: 0;
  position: relative; }

/*.navbar-header {
  float: left;
  left: -10px;
  position: relative;
}*/
.navbar-header {
  float: left;
  width: 30%; }

.navbar-collapse {
  float: right;
  width: 60%; }

.sidebar-nav li.current a {
  border-left: 0; }

#donut-chart1 {
  height: 200px;
  left: -167px;
  position: absolute; }

.c-gray {
  font-size: 0.8em;
  margin-bottom: 16%; }

.alert {
  font-size: 1em;
  margin-top: 0;
  width: 100%; }

.navbar-collapse .header-menu {
  font-size: .75em;
  margin-top: 1.5%; }

.sidebar-large #sidebar {
  width: 250px;
  left: -350px; }

.header-menu.navbar-nav > li > a {
  height: 40px;
  padding: 4px 4px 8px 14px; }

.carousel-control .glyphicon-chevron-right {
  margin: 0 auto; }

.arrow-white {
  color: white;
  font-size: 13px;
  left: 96%;
  margin-top: 13px;
  position: absolute;
  visibility: hidden; }

.current .arrow-white-visible {
  color: white;
  font-size: 13px;
  left: 96%;
  margin-top: 13px;
  position: absolute;
  visibility: visible; }

/*#principal-arrow-white{
  color: white !important;
  font-size: 13px;
  left: 96%;
  margin-top: 13px;
  position: absolute !important;
  visibility: visible;
}*/
ul.sidebar-nav .active .submenu span {
  margin-left: 10%; }

#main-content {
  background-color: #e0e0e0; }

#main-content .container {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /*box-shadow: 0 4px 2px -2px #c8c8c8;*/
  margin-top: 4%;
  /*.radio{
    float: left;
    width: 50%;
  }*/ }
  #main-content .container .title {
    background-color: #0079c2;
    border-bottom: 3px solid #1c3e4e;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 1em; }
  #main-content .container h1 {
    color: #fff;
    font-size: 1.1428em;
    margin: 0;
    padding: 0; }
  #main-content .container label {
    color: #768082;
    font-size: 0.9342em;
    font-weight: normal; }
  #main-content .container legend {
    border: 0;
    color: #0079c2;
    font-size: 1.38462em; }
  #main-content .container input:focus, #main-content .container select:focus {
    border-color: #1c3e4e; }
  #main-content .container input[type="radio"] {
    margin-left: 0;
    margin-top: -10px; }
  #main-content .container .ui-radio label {
    padding-left: 3%; }
  #main-content .container .btn-submit-form {
    margin: 0 auto;
    width: 15%; }
  #main-content .container table {
    border: 0;
    box-shadow: 0 4px 2px -2px #e8e8e8; }
    #main-content .container table thead > tr > th {
      background-color: #a4aeb9;
      border: 0;
      color: #fff;
      font-weight: normal;
      font-size: 0.9285em;
      text-transform: capitalize; }
    #main-content .container table td {
      border: 0;
      color: #a4a9ae;
      font-size: 0.8571em; }
  #main-content .container .title-section {
    border: 0;
    color: #2684c6;
    font-size: 1.2857em; }
  #main-content .container .search, #main-content .container .forms {
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 2px -2px #e8e8e8;
    margin-bottom: 1em;
    padding-bottom: .5em;
    padding-top: 30px;
    padding-left: 25px; }
  #main-content .container .search-av {
    margin-top: 13%;
    text-align: center; }
  #main-content .container #inpt_search {
    background: url(/images/iconos_menu/icons_busqueda_off.png) no-repeat scroll 5px center/20px auto;
    padding-left: 30px; }
  #main-content .container #fls-avz-search {
    margin-top: 2%;
    margin-bottom: 2%; }

.btn.btn-form {
  background: transparent none repeat scroll 0 0;
  border: 2px solid #0079c2;
  border-radius: 21px;
  color: #0079c2;
  display: block;
  margin-top: 3px; }

#b_avanzada_btn {
  cursor: pointer; }

#table-container {
  max-height: 300px;
  overflow-y: scroll; }

.table-fixed thead {
  width: 100%; }
  .table-fixed thead .col1 {
    width: 15%; }
  .table-fixed thead .col2 {
    width: 70%; }
  .table-fixed thead .col3 {
    width: 15%; }

.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%; }
  .table-fixed tbody .col1 {
    width: 15%; }
  .table-fixed tbody .col2 {
    width: 70%; }
  .table-fixed tbody .col3 {
    width: 15%; }

.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block; }

.table-fixed tbody td, .table-fixed thead > tr > th {
  float: left;
  border-bottom-width: 0; }

body#app-layout #sidebar {
  top: 0; }

#main-content .container .ui-radio label {
  padding-left: 35px; }

#fld-section ul {
  margin-left: 40px; }

.arrow-down {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.sidebar-large #sidebar {
  overflow-y: scroll; }
  .sidebar-large #sidebar .sidebar-nav {
    margin-top: 50px; }
    .sidebar-large #sidebar .sidebar-nav li {
      position: relative; }
      .sidebar-large #sidebar .sidebar-nav li.current a:after {
        border: none; }
      .sidebar-large #sidebar .sidebar-nav li .sidebar-text {
        position: absolute;
        top: 15px;
        min-width: 110px;
        width: 70%; }
    .sidebar-large #sidebar .sidebar-nav ul.submenu li .sidebar-text {
      position: inherit; }

.arrow {
  padding-top: 0; }

/*
** Banner
*/
#main-content {
  width: 100%; }
  #main-content div#message_board {
    font-size: 16px; }

/*
** Charts
*/
svg {
  left: -7px;
  width: auto; }

#donut-chart1, #donut-chart2, #donut-chart3 {
  height: 200px;
  width: 215px;
  left: -40px;
  position: absolute; }

.c-gray {
  font-size: 0.8em;
  margin-bottom: 16%; }

#main-content div#message_board {
  font-size: 1em; }

body#app-layout .panel-title {
  font-size: 1.5em; }

div#message_board {
  border-bottom: 1px solid #dfdfdf;
  margin-top: 2%; }
  div#message_board p {
    line-height: 1.5em; }

#main-content .charts {
  margin: 0 auto; }

.panel-carrousel {
  margin: 4% auto;
  width: 99%; }

.panel-body {
  padding: 0; }

.sidebar-large #wrapper {
  margin: 0 auto;
  min-height: 700px;
  padding-left: 0;
  position: relative;
  width: 100%; }

#main-content {
  background-color: #f5f5f5;
  margin: 0 auto;
  min-height: 700px;
  padding: 10px 0;
  position: relative;
  top: 5%; }
  #main-content #login-block {
    margin-top: 3%;
    padding: 0; }

.input-fill, input:-webkit-autofill:focus, input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset; }

#main-content .login-box {
  -webkit-filter: drop-shadow(0px 2px 0px #e3e4e8);
  width: 326px;
  margin: 0 auto;
  top: 20px; }
  #main-content .login-box label {
    color: #6c6c6c;
    font-weight: 300;
    font-size: 13px; }
  #main-content .login-box .login-form input {
    color: #0079c2;
    font-size: 0.92308em; }
  #main-content .login-box .login-form label {
    font-size: 1em; }
  #main-content .login-box .login-form a {
    font-size: 1em; }
  #main-content .login-box .login-form #submit-form {
    font-size: 1.07692em; }
    #main-content .login-box .login-form #submit-form:hover {
      color: #ffffff;
      background-color: #0079c2; }
  #main-content .login-box .login-form .ui-checkbox {
    width: 78%; }
    #main-content .login-box .login-form .ui-checkbox input {
      display: none; }
    #main-content .login-box .login-form .ui-checkbox label {
      font-size: 0.84615em;
      width: 55%; }
    #main-content .login-box .login-form .ui-checkbox label:hover {
      color: #0079c2; }
  #main-content .login-box .login-form .forgot {
    top: -11px; }
    #main-content .login-box .login-form .forgot a {
      font-size: 0.84615em; }

@media only screen and (max-width: 1680px) {
  .arrow-white {
    left: 97%; } }

/*# sourceMappingURL=logoscorp.css.map */
